
.location-card {
    width: 375px;
    height: 375px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 35px;
}
.location-card:hover {
    transform: scale(1.02);
}
.location-title {
    margin-top: auto;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
    color: white;
    height: 52px;
    width: 250px;
    Left: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;

}

.location-bgd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.linklocation {
    text-decoration: none;
    text-decoration-line: none;
}

/*RESPONSIVE TABLETS*/
@media (max-width:992px) and (min-width:768px){
    .location-card {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    
    .location-title {
        margin-top: auto;
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
        color: white;
        height: 52px;
        width: 250px;
        Left: 20px;
        font-family: Montserrat, sans-serif;
        font-size: 15px;
    
    }
    
    .location-bgd {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
    
    .linklocation {
        text-decoration: none;
        text-decoration-line: none;
    }   
}
/*RESPONSIVE MOBILE*/

@media (max-width: 768px) {
    .location-card {
        width: 450px;
        height: 400px;
        display: flex;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-right: 35px;
        margin-bottom: 25px;
        margin-top: 25px;
        border-radius: 10px;
    }

    .location-title {
        margin-top: auto;
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
        color: white;
        height: 52px;
        width: 250px;
        Left: 20px;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
    
    }
}
