.house__carousel{
    width: 100%;
    height: 415px;
}
.number__styles{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 90%;
    align-items: flex-end;
    font-size: 17px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.slider__styles{
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.slide__styles-right{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translatex(100%);
}
.slide__styles-hide{
    transform: translatex(0);
}
.slide__styles-left{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translatex(-100%);
}
.right{
    width: 100%;
    height: 100%;
    transition-duration: 0.6s;
    transform: translateX(-100%);
}
.left{
    width: 100%;
    height: 100%;
    transition-duration: 0.6s;
    transform: translateX(100%);
}
.slide__styles-one{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.left__arrow{
    left: 20px;
    z-index: 1;
}
.right__arrow{
    right: 20px;
    z-index: 1;
}
@media all and (max-width:768px){
.number__styles{
    display: none;
    z-index: 0;
}
}