/*___________________ABOUT IMG__________________*/
.about__section{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
}
.about{
    margin-top: 3%;
}
.about__img{
    width: 90%;
}
.about__img2{
    display: none;
}