/*_____________________________________________________HOME PAGE___________________________________________________________________*/
        /*HOME BACKGROUND*/
.home_background {
    width:100%;
    height: 100%;
    margin-bottom: 3%;
    position: relative;
    justify-content: center;
}

.home_background img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        position: relative;
        filter: brightness(70%);       
}

.home_background h1{
    width: 70%;
    left: 23%;
    top: 16%;
    position: absolute;
    z-index: 1;
    color: azure;
    font-size: 3em;
    font-weight: 200;
}

/*___________LOCATION PART___________*/
.locations{
    width: 100%;
    position: relative;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F7F7F7;
    border-radius: 25px;
}

main .locations__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
    margin-left: 30px;
}
/*___HOME RESPONSIVE____*/
/*_______________TABLETS______________*/
@media (max-width:992px) and (min-width:768px){
    .home_background {
        width:100%;
        height: 96%;
        margin-bottom: 10%;
        position: relative;
        justify-content: center;
    }
    .home_background img{
        width: 100%;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
        position: relative;
        filter: brightness(70%);
        
}
.home_background h1{
    left: 25%;
    top: 20%;
    font-size: 2em;
}
}
/*________________MOBILE________________*/
@media (max-width: 768px){
    .home_background {
        width:100%;
        height: 100%;
        margin-bottom: 3%;
        position: relative;
        justify-content: center;
    }
    .home_background img{
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
        position: relative;
        filter: brightness(70%);
}
.home_background h1{
    left: 20%;
    top: 9%;
    font-size: 2em;
}
/*___________LOCATION PART RESPONSIVE MOBILE___________*/
.locations{
    width: 100%;
    position: relative;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: none;
    border-radius: 25px;
}

main .locations__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
}
}