/*_____________________________________________________________GENERAL_________________________________________________________________*/

body{
  margin: 0; 
  color: #FFFFFF;
  font-family: 'Montserrat';
}
*{
    font-family: 'Montserrat';
}

